{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Chat | Toggle Corp.{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block body %}
<div id="login-form-wrapper">
    <header>
        <div id="toggle-logo">Toggle<span>Corp</span></div>
        <div id="app-name">Private chat</div>
    </header>
    <form method="post">
        {% csrf_token %}
        {% if error %}
        <div>{{ error }}</div>
        {% endif %}
        <input name="username" type="text" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <div id="submit-wrapper">
            <input type="submit" class="btn">
        </div>
    </form>
</div>
{% endblock %}
